spring:
  application:
    name: user-service
  datasource:
    username: postgres
    password: isaac132
    url: jdbc:postgresql://34.72.121.124:5432/user-db
  jpa:
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
        format_sql: true

    # Hibernate ddl auto (create, create-drop, validate, update)
    hibernate:
      ddl-auto: update
    show-sql: false
  rabbitmq:
    host: 34.151.222.162
    port: 5672
    username: tre
    password: 123456
    queue: "NEW_USER_REGISTERED"
server:
  port: 8020
